# .gitignore
.vscode




old
dev

KUT_dev


.ipynb_checkpoints



*.pyc


*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.run.xml
*.bcf

*.synctex.gz.sum.synctex


slprj
*.slxc




.pio

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
