# .gitignore
.vscode




old
dev



.ipynb_checkpoints



*.pyc


*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.run.xml
*.bcf




slprj
*.slxc




.pio

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
